sudo: false
language: node_js
node_js:
  - 8
  - stable

before_install:
  - npm install -g npm

services:
  - xvfb

script:
  - npm run lint
  - npm test

addons:
  firefox: 'latest'
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
